# Python venv
.venv/
__pycache__/
*.pyc

# Hadoop, Hive & Spark tunge binære mapper
hadoop-3.5.0/
hive/
spark-4.2.0-bin-without-hadoop/
*.tar.gz
mysql-connector-j-8.3.0.jar

# Midlertidige logs og checkpoints
logs/
checkpoint/
.spark-staging/
Diagrammer